@keyframes show-modal-content {
  from { opacity: 0; visibility: hidden; transform: scale(0.95);}
  to { opacity: 1; visibility: visible; transform: scale(1);}
}

@keyframes hide-modal-content {
  from { opacity: 1; visibility: visible; transform: scale(1);}
  to { opacity: 0; visibility: hidden; transform: scale(0.95);}
}

@keyframes hide-modal-background {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}

.gu-modal-content-show {
  animation: show-modal-content 0.2s ease-out forwards;
}

.gu-modal-content-hide {
  animation: hide-modal-content 0.2s ease-in forwards;
}

.gu-modal-background-hide {
  animation: hide-modal-background 0.2s ease-in forwards;
}