@keyframes show-bg-modal {
  from{ opacity: 0; transform: scale(0.95); visibility: hidden; display: none; }
  to{ opacity: 1; transform: scale(1); visibility: visible; display: block; }
}

@keyframes hide-bg-modal {
  from{ opacity: 1; transform: scale(1); visibility: visible; display: block; }
  to{ opacity: 0; transform: scale(0.95); visibility: hidden; display: none; }
}

.gla-modal-div-show {
  animation: show-bg-modal 0.2 ease-out forwards;
  display: block;
}

.gla-modal-div-hide {
  animation: hide-bg-modal 0.2 ease-in forwards;
  display: none;
}